

.hero {
    background-color: #00b5d1; 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    text-align: center;
    background: linear-gradient(to right, #b18fff86, #1b1b1b);
  }
  
  .heroContent {
    max-width: 800px;
  }
  
  .heroTitle {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out
  }
  .heroTitle:hover{
   transform: scale(1.1);
  }
  
  .heroSubtitle {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  .ctaButton {
    background-color: #ff8f9c; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .ctaButton:hover {
    background-color: #ff6a7f; 
  }
 
.image{
    text-align: left;
}
.image {
    display: block; 
    margin-left: 0; 
    margin-right: 5px;
  }
.courses {
    padding: 20px;
  
    text-align: center;
  }
  
  .title {
    font-size: 2.5rem;
    color: #faf6f6;
    margin-bottom: 20px;
    animation: fadeIn 1.5s ease-in-out forwards;
  }
  .title:hover{
    font-size: xx-large;
  }
  
  .courseBox {
    display: inline-block;
    background-color: #fff;
    border: 2px solid #ff8f9c;
    padding: 10px 20px; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer; 
  }
  
  .animated{
    font-size: 1rem; 
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid #ff8f9c;
    width: 0;
    animation: typing 3s steps(30) forwards, blink 0.75s step-end infinite;
  }

  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-20px); 
    }
    50% {
      opacity: 0.5;
      transform: translateY(10px); 
    }
    100% {
      opacity: 1;
      transform: translateY(0); 
    }
  }
 
 

